.104_5 { 
	overflow:hidden;
}.e104_5 { 
	width:1920px;
	height:881px;
	position:absolute;
}.e2_25 { 
	background-color:rgba(40.00000141561031, 42.000001296401024, 53.00000064074993, 1);
	width:1920px;
	height:881px;
	position:absolute;
	left:0px;
	top:0px;
}.e2_4 { 
	background-color:rgba(125.37500202655792, 125.37500202655792, 125.37500202655792, 1);
	width:439px;
	height:80.17189025878906px;
	position:absolute;
	left:740px;
	top:26.72393798828125px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
}.e2_24 { 
	color:rgba(192.31249898672104, 192.31249898672104, 192.31249898672104, 1);
	width:239px;
	height:25.83316421508789px;
	position:absolute;
	left:840px;
	top:54.3387451171875px;
	font-family:Inter;
	text-align:left;
	font-size:24px;
	letter-spacing:0;
}.e101_3 { 
	background-color:rgba(34.318751469254494, 28.262499645352364, 40.37499949336052, 1);
	width:1920px;
	height:123.82102966308594px;
	position:absolute;
	left:0px;
	top:757.178955078125px;
}.e103_2 { 
	color:rgba(255, 255, 255, 1);
	width:204px;
	height:19.59757423400879px;
	position:absolute;
	left:858px;
	top:809.736083984375px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}